@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
--DM-element: hsl(209, 23%, 22%);/* (Dark Mode Elements)*/
--DM-BG: hsl(207, 26%, 17%);/* (Dark Mode Background)*/
--LM-text: hsl(204, 12%, 8%); /* (Light Mode Text):*/
--LM-input: hsl(0, 0%, 52%);/* (Light Mode Input)*/
--LM-: hsl(0, 0%, 98%);/* (Light Mode Input)**/
--White: hsl(0, 0%, 100%);/* (Dark Mode Text & Light Mode Elements)**/
}

/*- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)*/
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;

}
.Dark-mode{
    background-color: var(--DM-BG);
    color: var(--White);
    
}
.Light-mode{
    background-color: var(--LM-BG);
    color: var(--LM-text);
}
.flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
/*countries card**/
img{
    width: 100%;
}
#countries{
    display:flex;
    gap: 1rem;
    flex
}
.country{
    flex:1 1 30%;
    background-color: var(--DM-element);
}