@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
--DM-element: hsl(209, 23%, 22%);/* (Dark Mode Elements)*/
--Very-Dark-Blue: hsl(207, 26%, 17%);/* (Dark Mode Background)*/
--Very-Dark-Blue: hwb(200 7% 91%); /* (Light Mode Text):*/
--Dark-Gray: hsl(0, 0%, 52%);/* (Light Mode Input)*/
--Very-Light-Gray: hsl(0, 0%, 98%);/* (Light Mode Input)**/
--White: hsl(0, 0%, 100%);/* (Dark Mode Text & Light Mode Elements)**/
}


body{
    font-family: 'Nunito Sans', sans-serif;
}
.Dark-mode{

}
.Light-mode{
    
}